.bgc-warning {
  background-color: var(--color-warning);
}
.bgc-warning.c-opacity-0 {
  background-color: var(--color-warning) !important;
}
.bgc-warning.c-opacity-25 {
  background-color: var(--color-warning, 25%) !important;
}
.bgc-warning.c-opacity-33 {
  background-color: var(--color-warning, 33%) !important;
}
.bgc-warning.c-opacity-50 {
  background-color: var(--color-warning, 50%) !important;
}
.bgc-warning.c-opacity-66 {
  background-color: var(--color-warning, 66%) !important;
}
.bgc-warning.c-opacity-75 {
  background-color: var(--color-warning, 75%) !important;
}
.bgc-warning.c-opacity-100 {
  background-color: var(--color-warning, 100%) !important;
}