.btn-light{
  background-color: #CDD7D8 !important;
}


.nav-tabs {
  .nav-link {
    border: 1px solid #1fb9b3;
    &:first-child{
      border-radius: 0 5px 5px 0;
    }
    &:last-child{
      border-radius: 5px 0 0 5px; 
    }
    &.active {

    }
  }
}

@font-face {
  font-family: 'Caveat', cursive;
  font-family: 'Roboto', sans-serif;
    src: url('~@/assets/font/roboto/Roboto-Regular.ttf') format('truetype');
}