@font-face {
    font-family: change;
    src: url(../Changa_094829/Changa/Changa-VariableFont_wght.ttf);
}
:root {
    --swiper-navigation-size:15px;
    --b-color:#737373
}

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    -moz-appearance: none !important;
    appearance: none !important;
    font-family: change;

}

a {
    text-decoration: none;
}
a:hover{
    color: inherit;
}

input,
textarea {
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

:root {
    --m-color: #1FB9B3;
    --m-color-light: #1fb9b48e;


}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}

.m-c {
    color: var(--m-color) !important;
}
.s-c{
    color: #737373;
}
.t-c{
    
    color:#979797 ;
}
.p-c{
    color: #A6A6A6;
}
.y-c{
    color:#FFBC00 ;
}

.bg-yal {
    background-color: #FFBC00;
}
.bg-main{
    background-color: #1FB9B3;

}
.bg-danger{
    background-color: #fe0d00;

}
.bg-sec{
    background-color: #414042;
}

.btn-main {
    background-color: #1FB9B3;
    border: 1px solid #1FB9B3;
    border-radius: 8px;
    width: 152px;
    height: 56px;
    color: white;
}

.btn-custmer {
    background: #1FB9B3;
    border: 1px solid #1FB9B3;
    border-radius: 8px;
    padding: 10px 40px;
    color: white;
}

.btn-custmer-w {
    background: white !important;
    border: 1px solid #1FB9B3 !important;
    border-radius: 8px !important;
    padding: 10px 40px !important;
    color: #1FB9B3 !important;
}

.sec-color {
    background-color: #F6F8F9;
}
.btn:hover {
    background-color: #FFBC00;
}

.more {
    background: transparent;
    padding: 13px 39px;
    border-radius: 6px;
    border: 1px solid black;
}

/* NavBar */
nav.navbar {
    position: fixed;
    top: 0;
    z-index: 99999998;
    background: white;
    width: 100%;
}

nav .offcanvas-start .nav-item a.nav-link {
    font-size: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: var(--m-color);
    font-weight: bolder;
}

nav .offcanvas-start .serach-navbar {
    background: #FFFFFF;
    border: 0.5px solid #DDE5E6;
    border-radius: 8px;
    width: 200px;
    height: 56px;
    padding: 0 38px;
}

nav .offcanvas-start .icon-search {
    top: 25%;
}

nav .dropdown-menu {
    min-width: 6rem !important;

}

nav .dropdown-menu[data-bs-popper] {
    top: 114%;
    right: -50px;
    margin-top: var(--bs-dropdown-spacer);
}

.nav-link:focus,
.nav-link:hover {
    color: var(--m-color);
}

nav .lang {
    line-height: 50px;
}

.offcanvas-header {
    justify-content: end;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0;
}

/* sec-1 */
.sec-one {
    position: relative;
}

.sec-one .img-sec-one {
    position: absolute;
}

.circle-img {
    width: 425px;
    height: 425px;
    background-color: #FFBC00;
    border-radius: 50%;

}

.circle-img img {
    width: 458.26px;
    height: 426px;
}

.sec-tow .text {
    text-align: center;
}

/* sec-2 */
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--m-color) !important;
    color: white !important;
}

.nav-pills .nav-link.active svg {
    color: white;
}

.nav-pills .nav-link svg {
    height: 20px;
}

.sec-tow .tab-content .text-network {
    background-color: #F6F8F9;
    box-shadow: 0px 4px 15px 1px #00000040;
    height: fit-content;
    width: 452px;
    margin: 0 -64px;
    z-index: 1;


}

/* sec-3 */
.carwsel-slider-item {
    background: linear-gradient(to left, #BBD2C5, #1FB9B3);

}

.owl-theme {
    position: relative;

}

.owl-theme .owl-nav {
    position: absolute;
    top: 46%;
    left: -29px;
    right: -29px;

}

.owl-theme .owl-nav .owl-prev,
.owl-theme .owl-nav .owl-next {

    border: 1px solid #1fb9b3 !important;
    color: #1fb9b3 !important;
    font-weight: bolder !important;
    line-height: 1.5 !important;
    width: 25px !important;
    border-radius: 5px !important;
}

.owl-theme .owl-nav .owl-prev {
    position: absolute;
    right: 0;

}

.owl-theme .owl-nav .owl-next {

    position: absolute;
    left: 0;


}

/* sec-five */
.sec-five {
    background-color: #F6F8F9;
}

.main-swiper,
.child-swiper {
    position: relative;
    height: 100%;
}

.child-swiper {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide {
    width: 100%;
  }

.swiper-slide img {
    display: block;
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
}

.swiper-container {
    width: 100%;
    /* height: 300px; */
    margin: 20px auto;
}

.append-buttons {
    text-align: center;
    margin-top: 20px;
}

.append-buttons button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
}

.sec-seven {
    background-color: #1FB9B3;
}

.sec-subscripe {
    background-color: #1FB9B3;
}


/* footer */

footer {
    background-color: #F6F8F9;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .social a {
    margin-left: 8px;
    width: 32px;
    height: 32px;
}

footer .social i {
    color: #fff;
    padding: 8px;
    border-radius: 50%;
    text-align: center;
    background-color: #1FB9B3;

}

footer .policy-links {
    margin-top: 18px;
    color: #CDD7D8;
    font-size: 12px;
}

footer .policy-links a {
    margin-left: 15px;
    color: #979797;
}

footer .policy-links a:first-of-type:before {
    content: none;
}

footer .policy-links a::before {
    content: '|';
    margin-left: 7px;
}

footer h6 {
    color: #414042;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 9px;
}

footer .nav a {
    color: #707070;
    font-size: 14px;
    margin-bottom: 7px;
}

footer .newsletter input {
    font-size: 14px;
    color: #667D80;
}

footer .newsletter .btn {
    padding: 8px 12px 0;
}

footer .newsletter picture:first-of-type {
    margin-left: 20px;
}

.newsletter-modal h3 {
    font-size: 18px;
    font-weight: bold;
}

.dote {
    top: 20px;
    left: 36%;
}

img.landing {
    transition: var(--main-transition);
    position: relative;
    animation: any 4s linear infinite;

}

@keyframes any {

    0%,
    100% {
        top: 0px;
    }

    50% {
        top: -50px;
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------- */
/* who are we */
.main-top {
    background: linear-gradient(275.37deg, #BBD2C5 7.87%, #1FB9B3 101.4%);
}

.anim-hwo-ar-you {
    top: 0;
    left: 0;
}

.star {
    left: 27.29%;
    right: 69.44%;
    top: 44.59%;
    bottom: 37.92%;
}

.square {
    left: 41.18%;
    right: 55.37%;
    top: 89.17%;
    bottom: -7.5%;
}

.star-two {
    left: 55.02%;
    right: 43.99%;
    top: 60.16%;
    bottom: 33.31%;
}

.star-big {
    left: 94.72%;
    right: 0.9%;
    top: 23.75%;
    bottom: 52.81%;
}
.mian-img-how-are-you{
    width: 432px;
    height: 279px;
    border-radius: 95px 0px;
    position: relative;
    z-index: 1;
}
.mian-img-how-are-you::before{
    content: "";
  
    position: absolute;
    background-color: #FFBC00;
    width: 432px;
    height: 279px;
    border-radius: 95px 0px;
    z-index: -1;
    top: -7px;
    left: 0;

}
.mian-img-how-are-you.two::before{
    content: "";
  
    position: absolute;
    background-color: #FFBC00;
    width: 432px;
    height: 279px;
    border-radius: 95px 0px;
    z-index: -1;
    bottom: -6px;
    right: 21px;

}
.img-how-are-you{
    
    width: 432px;
    height: 279px;
    border-radius: 95px 0px;

}
.text-how-are{
    line-height: 40px;
    color: #979797;
    font-size: 18px;
    text-transform: capitalize;

}

.why-riadiat .box{
    background: #FFFFFF;
padding: 20px;

box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
border-radius: 8px;
}
.riadiat-of-number .box{
    background: #FFFFFF;
    padding: 20px;
    
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.services-riadiat{
    background-color: #F6F8F9;


}
.services-riadiat .box{
    border-radius: 8px;
    align-items: center;
}
.services-riadiat .box svg{
   height: 30px;
}
.services-riadiat .box.one{
    background-color: #1FB9B3;
    border: 2px solid #1FB9B3;
}
.services-riadiat .box.two{
    background-color: #FFBC00;
    border: 2px solid #FFBC00;
}
.services-riadiat .box.three{
    background-color: #F2631C;
    border: 2px solid #F2631C;
}
.services-riadiat .box.four{
    background-color: #2C98B3;
    border: 2px solid #2C98B3;
}
.services-riadiat .box.five{
    background-color: #414042;
    border: 2px solid #414042;
}

.img-screen{
    width:446px ;
    height: 446px;
    border-radius: 50%;
    background: #FFFFFF;
    position: relative;
}
.img-screen img{
    position: absolute;
    left: 12%;
    top: 97px;
}
.contact-us input,.contact-us  textarea{
    background: #FFFFFF;
    border: 0.5px solid #97979759 !important;
    border-radius: 4px;
    padding: 10px;
}
.img-bg-contact{
    top: 27%;
    left: 89px;
}
.consulting{
    background-color: #1FB9B3;
    position: relative;
}
.star-cons{
position: absolute;
left: 7.15%;
right: 81.19%;
top: 9.72%;
bottom: 71.67%;
}
.img-cons{
background-color: white;
border-radius: 50%;
width: 300px;
height: 300px;
position: relative;
overflow: hidden;

}
.consulting .btn-custmer-w{
    background-color: transparent !important;
    color: white !important;
    border: 1px solid #F6F8F9 !important;
    border-radius: 8px !important;
    margin:  0 5px;
}
.star-cons.stars{
    left: 30.56%;
    right: 60.06%;
        top: 14.17%;
    bottom: 80.28%;
}

.consult .cute{
    left: 60.14%;
    right: 28%;
    top: 9%;
    bottom: 84.35%;

}
.consult  .text p{
line-height: 40PX;
}

.min-riadiat .box {
    height: 250px;
}
[type=email], [type=number], [type=tel], [type=url] {
    direction: rtl;
}
.form-control.is-valid, .was-validated .form-control:valid{
    background-image: none;
}
.form-control.is-invalid, .was-validated .form-control:invalid{
    background-image: none;

}

/* ------------ */
.btn-closes{
    font-weight: 400;
    line-height: 32px;
    /* identical to box height, or 133% */
    
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid ;
    color: #FF3A44;
    padding: 15px;
}
.swiper-button-prev:after,.swiper-button-next:after, .swiper-rtl .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    font-size: 15px;
    content: 'prev';
}

.swiper-button-next,
.swiper-button-prev{
    border: 1px solid #1fb9b3 !important;
    color: #1fb9b3 !important;
    font-weight: bolder !important;
    line-height: 1.5 !important;
    width: 30px!important;
    height: 30px;
    border-radius: 5px !important;
}
.min-riadiat.network .box{
    height: 111px;
    padding: 10px;

}
.img-person-network{
    line-height: 5.5;
    top: 74px;
    left: 89px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
}
.table-network{
    margin:100px 0;
}
.network-subscribe button{
    border: 2px solid #979797 !important;
border-radius: 8px;
color: #979797 !important;
}
.network-subscribe .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #979797 !important;
    background: #979797;

border: 2px solid #979797 !important;
border-radius: 8px;
}
.pagination .page-item{
    border-radius: 50%;

}
.page-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: var(--bs-pagination-color);
    text-decoration: none;
    /* background-color: var(--bs-pagination-bg); */
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 50%;
}
.page-item:last-child .page-link,
.page-item:first-child .page-link {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;

}
.page-link{
    color: #1FB9B3;
    font-weight: 500;
font-size: 32px;
line-height: 0.8;
}

.box.even{
    border: 1px solid #eee;
    text-align: center;
    background: #F6F8F9;
    Width: 100px;
    height: 100px;
    position: relative;
    border-radius: 25px;
    transform: rotate(45deg);
    z-index: 9;
}
.box.even svg{

}
 .sh{
    content: "";
    position: absolute;
    border: 1px solid #eee;
    text-align: center;
    background: rgb(74 69 69 / 51%);
    /* filter: blur(11.0307px); */
    Width: 100px;
    height: 100px;
    transform: rotate(45deg);
    top: 6px;
    border-radius: 25px;
}



.box.even svg{
 position: absolute;
    top: 31%;
    right: 31%;
    transform: rotate(321deg);

}
.progress{  
    transform: rotate(-45deg);
    width: 269px;
    margin: 0px -20px;

}
.odd{
    margin: 184px 0 0 0;
}
.odd .sh{
    margin: 184px 0;

}
.odd .progress{
    transform: rotate(45deg);
    margin: -153px 20px;
}
.odd .text{
    margin: 304px 0 0 0;
}
.order .box{
    border: 1px solid rgb(240, 238, 238);
    transition: 0.5s;
}
.order .box:hover{
    box-shadow: 0px 0px 11px -6px black;
}
.search-service .box{
    border: 1px solid rgb(240, 238, 238);
    justify-content: center;
    position: relative;
    overflow: hidden;

}
.search-service .box-tow{
    position: absolute;
    top: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999;
    background-color: #1FB9B3;
    transition: 0.3s;
    border-radius: 5px;
    text-align: center;

}
.search-service  {
    width: 100%;

}
/* .search-service .box-tow{
    background-color: #1FB9B3;
       width: 100%;
    top: 0;
    text-align: center;
    transform: rotateY(90deg);
    transition: 0.3s;
    border-radius: 5px;
    top: 0;

}
.search-service .box:hover .box-tow{
    transform: rotateY(45deg);

} */
.search-service .box:hover .box-tow{
    top: 0;

}
.accordion-button:not(.collapsed){
    color: black;
    background-color: transparent;
    box-shadow: 0 0 0;
    padding: 10px 35px;
}
.accordion-button::after{
    position: absolute;
    right: 0;
}
.accordion-item{
    border: 0;
}
.accordion-item .accordion-button{
    padding: 10px 35px;

}
.form-check-input:checked[type=radio] {
   background-image: url(../img/Component\ 21.png); 
}
.form-check-input:checked {
    background-color: #1fb9b3;
    border-color: #1fb9b3;
}

.traning .box{
    background-color:#2C98B3 ;
    padding: 40px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}
.traning .box.private{
    background-color:#F2631C ;
}
.traning .box .text{
    position: absolute;
    top: -276px;
    left: 0;
    right: 0;
    font-size: 17px;
    background: #FFFFFF;
    box-shadow: 0px 0px 78.2699px rgb(187 188 189 / 30%);
    border-radius: 8px;
    padding: 13px 10px;
    transition: 0.3s;

}
.traning .box:hover .text{
    top: 0;

}

.incobter .box{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color:#1FB9B3 ;
    text-align: center;
    line-height: 8;
}
.incobter .main{
    transition: 0.3s;
}
.incobter .main:hover{
    background-color:#1FB9B3 !important ;
    color: white;
}
.incobter .main:hover h4{
    color: white !important;

}
.fa-star{
    color: #C6CACC;
}
.fa-star.active{
    color: #FFBC00;
}
.consult-details li{
    list-style: auto;
}

span{
color: #979797;
}
.box-subscribe{
    height: 627px;
    overflow: auto;
    overflow-x: hidden;
    transform: translateY(-60px);
    transition: 0.3s;
}
.box-subscribe::-webkit-scrollbar {
    width: 0.5px;
}
.box-subscribe::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  }
  .box-subscribe::-webkit-scrollbar-thumb {
    background-color: rgb(138, 3, 3);
    outline: 1px solid slategrey;
  }
  .box-subscribe:hover{
    transform: translateY(-90px);

  }
  .box-subscribe:hover a{
    background-color:#FFBC00 ;
    border: #FFBC00;
    cursor: pointer;
  }
  .btn-custmer-subscribe{
    background-color: white !important;
    color: #979797 !important;
    border: 1px solid #979797 !important;
    border-radius: 5px !important;

  }

.subscripe-finish .nav-pills .nav-link svg {
    height: 26px !important;
}

.over-lay{
    background-image: url(../img/over-lay-service-provider.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#offcanvas-profile{
    z-index: 99999999;
}

.service-provider-navbar .box{
border: 1px solid #CDD7D8;
text-align: start;
padding: 10px;
}

.rating{
    position: fixed;
    top: 50%;
    right: 0;
}


.redy-services  {
    position: relative;
    height: 100%;
  }

  .redy-services .swiper {
    width: 100%;
    height: 100%;
  }

  .redy-services .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .redy-services .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .redy-services  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .redy-services .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .redy-services .mySwiper2 {
    width: 100%;
  }

  .redy-services  .mySwiper {
    height: 15%;
    box-sizing: border-box;
    padding: 10px 0;
    
  }

  .redy-services .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  .redy-services .mySwiper .swiper-slide.swiper-slide-active {

    opacity: 1;
  }
  .redy-services  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .redy-services  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
  }
  .redy-services  .swiper-wrapper{
    margin: 0 !important;
  }
  .redy-services .swiper-button-next, .swiper-button-prev{
    /* display: none; */
  }
  .message-service button{
    background: #414042;
border-radius: 8px;
  }

  .img-service img{
    border: 4px solid #1FB9B3;
  }

.word-intial p{

    background: #FFBC00;
    border-radius: 8px;
    padding: 10px;
}
#addModal{
z-index: 999999999;
}
.file-label{
    border: 2px solid #1FB9B3;
    position: relative;
}
.add-img-selected{
    position: absolute;
    top: 0;
    left: 0;
    height: 232px;
    width: 329px;
    /* background: white; */
}
.add-img-selected img{
    /* background-color: white; */
}

.date-service-provider .calendar {
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    text-align: center;
    font: 15px/1em inherit;
    color: #545A5C;
    background-color: white;
    /* position: absolute; */
    box-shadow: 0;
    border-radius: 10px;
    padding: 0px;
    margin:  0;
    width: 100%;
}
.date-service-provider .calendar .day.today {
    background: #1fb9b3;
    color: white;
}
.date-service-provider .calendar .day {
    position: relative;
    display: inline-block;
    width: 7em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 5%;
    border: 2px solid transparent;
    cursor: pointer;
    color: #1FB9B3;
}
.date-service-provider .calendar td {
    padding: 0em 0;
}
.date-service-provider  .calendar header .btn-prev {
    top: 20px;
    left: 50px;
    transform: rotate(-180deg);
}

.date-service-provider  .calendar header .simple-calendar-btn {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #CBD1D2;
    border-radius: 0%;
    border: 2px solid #CBD1D2;
    
}
.date-service-provider .calendar header .btn-next {
    top: 20px;
    right: 50px;
}

#in-number{
    width: 30px;
    height: 30px;
    border: 1px solid #1FB9B3;    
    text-align: center;
    border-radius: 2px;

}
.service-stoped{
    position: relative;
}
.service-stoped .box-stoped{
    position: absolute;
    top: 15px;
    left: 31px;
    color: #F2631C;
    background: white;
    border-radius: 5px;
    padding: 0;
    margin: 0;

}
.service-stoped .box{
    background: rgba(242, 99, 28, 0.2);
}
#image_selected{
    opacity: 0;
}

.dashbord .box.one {
    background-color:#F6F8F9 ;
    border-radius: 5px;
}
.dashbord .box.tow {
    background-color:#FFF3E5 ;
    border-radius: 5px;
}

.ldBar-label{
    position: absolute;
    top: -9px;
    left: 10px;

}
.dashbord  .progress {
    transform: rotate(0deg);
    width: 100%;
    margin: 0px;
}
.dashbord .progress-bar,
.dashbord  .progress{
    overflow: inherit;
}
.dashbord  .progress  .text {
    color: red;
top: -36px;
width: 100%;
}
.dashbord  .progress-bar {
display: flex;
flex-direction: column;
justify-content: center;
overflow: hidden;
color: var(--bs-progress-bar-color);
text-align: center;
white-space: nowrap;
background-color: #1FB9B3;
height: 5px;
border-radius: 10px;
transition: var(--bs-progress-bar-transition);
}
.dashbord .progress{
    height: 5px;
    background-color: #BCEAE8;
}
.dashbord .progress-bar.tow{
    background-color: #2C98B3;
}
.dashbord .progress-bar.three{
    background-color: #FFBC00;
}
.dashbord .progress.three{
    background-color:#FFEBB3 ;
}

.dashbord .progress-bar.four{
    background-color: #FF1616;
}
.dashbord .progress.four{
    background-color:#FFB9B9 ;
}
.profile-services  .main-img{
    position: relative;
}
.profile-services  .pen{
    position: absolute;
    top: 10px;
    right: 6px;
}
.profile-services .img-person{
    border: 5px solid #1FB9B3;
}

.profile-services .list-group-item.active {
    z-index: 2;
    color: #1FB9B3;
    background-color: transparent !important; 
    border: 1px solid #CDD7D8;
    border-right: 2px solid #1FB9B3;
}

.my-profile .main-img .img-person{
    border: 4px solid #1FB9B3;
}
.my-profile{
    position: relative;
}
.my-profile .box.info {
position: relative;
}
.my-profile .box.info .rating {
    position: absolute;
    left: 9px !important;
    top: 5px;
    right: inherit;
}

.my-profile .swiper {
    width: 100%;
    height: 100%;
  }

  .my-profile  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .my-profile .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .my-profile  .swiper-slide {
    width: 193px !important;
    height: 171px;
  }

 

  .my-profile .swiper-button-next,
  .my-profile .swiper-button-prev
  {
    border-radius: 50% !important;
    background: #FFFFFF;
    border:1px solid #FFFFFF !important ;
    color: rgb(182, 175, 175) !important;
  }


  .addService-modal{
    z-index: 99999999999;
}
        .add-modal{
            z-index: 99999999;
        }


  .chat{
    width: fit-content;
  }
  .chat-req{
    background-color:#F6F8F9 ;
    width: fit-content;

  }


  .network-profile  .nav.nav-pills button.nav-link{
    color: var(--m-color)  !important;
    background-color: transparent;
    border: 1px solid #eee;


  }
  .network-profile  .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #1fb9b326    !important;
    color: #1FB9B3 !important;
  }


.blog .nav-pills {
    background-color: #1fb9b324;
    padding:10px;
    
}
.blog .nav-pills .nav-link{

    color: #979797 !important;
    
}
.blog .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: transparent !important;
    color: black !important;
    font-weight: bolder;
}

.blog-page .data{
    background: #00000029;
    width: 100%;
    padding: 10px;
}

.blog-page .blogs-auhter{
    height: 700px;
    overflow: scroll;
    overflow-x: hidden;
}
.blog-page .blogs-auhter::-webkit-scrollbar {
    width: 0px;
  }

  .blog-page .pargrapg{
    line-height: 40px;
  }
   
  .blog-page .blogs-auhter::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .blog-page .blogs-auhter::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
#exampleModalToggle3{
    z-index: 999999999;
}

.alert{
    background-color: #ff16162e;
}

.courses ol li.active .btn-custmer-w{
    background-color:#1fb9b336 ;
}

.btn-custmer-w > svg {
    
    fill: var(--m-color) !important;
}

.btn-custmer-w.active > svg > path {
  
    fill:white !important;
    stroke:white !important;
   
}
.btn-custmer-w.active {
    background-color: var(--m-color) !important;
    color: white !important;
}
.network-subscribe .nav-pills .nav-link{
    width: 128px;
    height: 80px;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-input-error{
    color:#ec7979
}
.icon-input-end{
    left: 10px;
    right:auto;
    top: 12px;
}

.service-stopped.box {
    background: rgba(242, 99, 28, 0.2);
    position: relative;
}
.service-stopped .box-stoped {
    position: absolute;
    top: 8px;
    left: 10px;
    color: #F2631C;
    background: white;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}
.image-selected-dialog{
    opacity: 0;
}

.router-link{
    color: black;
    width: 100%;
}

.offcanvas.offcanvas-start {
    top: 0;
    right: 0;
    left: auto;
    width: var(--bs-offcanvas-width) !important;
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
}
.text-start {
    text-align: start!important;
}

.text-two-lines{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}
.text-four-lines{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4; 
   -webkit-box-orient: vertical;
}
.rotateY-180{
    transform:rotateY(180deg)
}
.multiselect__tag>span{
 color:white
}
.hidden-file-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
}
.text-bold {
    font-weight: 900;
}
/** carousel navigators**/

.owl-theme .owl-nav .owl-next,
.owl-theme .owl-nav .owl-prev{
    font-size: 15px;
    border: 1px solid #1fb9b3 !important;
    color: #1fb9b3 !important;
    font-weight: bolder !important;
    line-height: 1.5 !important;
    width: 30px!important;
    height: 30px;
    border-radius: 5px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}

.owl-theme .owl-nav .owl-next>span,
.owl-theme .owl-nav .owl-prev>span{
    font-size: 32px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    color: #1fb9b3 !important;
}
/** update css swiper */
.swiper-container{
    position: unset;
 }
 .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
     right: -35px;
     left: auto;
 }
 .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
     left: -35px;
     right: auto;
 }
 .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
     opacity: 0;
 }

 /** calend section schedule */

 .calendar-schedule{
    margin: -51px 0;
    left: 0;
    position: absolute;
    width: 350px;
    height: 390px;
 }
 .calendar-schedule>.vc-container{
    width: 100%!important;
 }
 .calendar-schedule.mobile {
    left: auto;
    width: 100%;
    height: 390px;
    margin: 0 auto;
  }
 /** filter list pagination **/
 .disabled>.page-link, .page-link.disabled {
    color: var(--m-color);
}
.page-link {
    color:#73737378;;
}


/** shadow boxed */
.router-link > .box:hover {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}
.shadow-hover:hover {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

/** swiper mobile */
.swiper-mobile .swiper-slide img {
    -o-object-fit: unset;
    object-fit: unset;
    max-width: 100%;
  }

 
  .h-40px{
    height: 40px !important;
  }
  
  .blog-info-category,.blog-info-date{
    padding: 1rem !important;
  }


  .multiselect__content>.multiselect__element span{
    color:black
  } 
  .m-b{
    color: var(--b-color) !important;
  }
.btn-text{
    background: transparent;
    border: none;
    font-size: 13px;
}
.text-right{
    text-align: right !important;
}
.text-left{
    text-align: left !important;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--m-color); 
  }
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--m-color-light);
  }

  /** font size */
  .fs-r-40-72{
    font-size: 40px;
    line-height: 72px;
  }
  .fs-r-56{
    font-size: 56px;
  }
  .fs-r-24{
    font-size: 24px;
    line-height: 32px;
  }
  .fs-r-24-40{
    font-size: 24px;
    line-height: 40px;
  }
  .semi-bold{
    font-weight: 600;
  }
  /** network home page */
  .netwok-home-header{
    margin: 0 84px;
}

.btn-custmer-danger {

    border: 1px solid #f70000  !important;

    color: #f70000  !important;
}

.no-border{
    border:none !important;
}
.btn-more-loading{
    border: 1px solid #c3c3c3;
    border-radius: 8px;
    padding: 10px 5px;
    width: 100%;
    color: #09763c;
}