@font-face {
  font-family: change;
  src: url(../Changa_094829/Changa/Changa-VariableFont_wght.ttf);
}

/* @font-face {
    font-family: "Twemoji Country Flags";
    src: url(../font/TwemojiCountryFlags/TwemojiCountryFlags.woff2) format('woff2');
    unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067, U+E006C, U+E006E, U+E0073-E0074, U+E0077, U+E007F;
} */
@font-face {
  font-family: "Amiri";
  src: url(../fontAmiri/Amiri-Bold.woff2) format("woff2");
  src: url(../fontAmiri/Amiri-Bold.woff) format("woff");
  src: url(../fontAmiri/Amiri-BoldItalic.woff) format("woff");
  src: url(../fontAmiri/Amiri-BoldItalic.woff2) format("woff2");
  src: url(../fontAmiri/Amiri-Italic.woff) format("woff");
  src: url(../fontAmiri/Amiri-Italic.woff2) format("woff2");
  src: url(../fontAmiri/Amiri-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Playfair Display";
  src: url(../fontPlayfairDisplay-Black/PlayfairDisplay-Black.woff2)
    format("woff2");
  src: url(../fontPlayfairDisplay-Black/PlayfairDisplay-Black.woff)
    format("woff");
  src: url(../fontPlayfairDisplay-Black/PlayfairDisplay-BlackItalic.woff)
    format("woff");
  src: url(../fontPlayfairDisplay-Black/PlayfairDisplay-BlackItalic.woff2)
    format("woff2");
  src: url(../fontPlayfairDisplay-Black/PlayfairDisplay-Bold.woff2)
    format("woff2");
  src: url(../fontPlayfairDisplay-Black/PlayfairDisplay-Bold.woff)
    format("woff");
  src: url(../fontPlayfairDisplay-Black/PlayfairDisplay-BoldItalic.woff)
    format("woff");
  src: url(../fontPlayfairDisplay-Black/PlayfairDisplay-BoldItalic.woff2)
    format("woff2");
  src: url(../fontPlayfairDisplay-Black/PlayfairDisplay-Italic.woff)
    format("woff");
  src: url(../fontPlayfairDisplay-Black/PlayfairDisplay-Italic.woff2)
    format("woff2");
  src: url(../fontPlayfairDisplay-Black/PlayfairDisplay-Regular.woff)
    format("woff");
  src: url(../fontPlayfairDisplay-Black/PlayfairDisplay-Regular.woff)
    format("woff");
}
@font-face {
  font-family: "Yanone Kaffeesatz";
  src: url(../fontYanoneKaffeesatz/YanoneKaffeesatz-Bold.woff2) format("woff2");
  src: url(../fontYanoneKaffeesatz/YanoneKaffeesatz-Bold.woff) format("woff");
  src: url(../fontYanoneKaffeesatz/YanoneKaffeesatz-Regular.woff) format("woff");
  src: url(../fontYanoneKaffeesatz/YanoneKaffeesatz-Regular.woff2)
    format("woff2");
  src: url(../fontYanoneKaffeesatz/YanoneKaffeesatz-ExtraLight.woff)
    format("woff");
  src: url(../fontYanoneKaffeesatz/YanoneKaffeesatz-ExtraLight.woff2)
    format("woff2");
  src: url(../fontYanoneKaffeesatz/YanoneKaffeesatz-Light.woff) format("woff");
  src: url(../fontYanoneKaffeesatz/YanoneKaffeesatz-Light.woff2) format("woff2");
}

:root {
  --pc: #1fb9b3;
  --swiper-navigation-size: 15px;
  --b-color: #737373;
  --bg-gray: #f6f8f9;
  --bs-btn-disabled-color: #c2c2c2;
  --label-color: #979797;
  --color-danger: #eb0000;
  --color-warning: #ffde2f;
  --color-warning-rgb: 255, 222, 47;
  --color-info: #2879f4;
  --color-primary: #1fb9b3;
  --color-primary-rgb: 31, 185, 179;
  --color-secondary: #ffbc00;
  --color-secondary-rgb: 255, 188, 0;
  --color-accent: #f2631c;
  --color-negative: #e91c2b;
  --color-warning: #ffde2f;
  --color-warning-message: #dc831d;
  --color-positive: #00a94d;
  --color-grey-6: #f2f2f2;
  --bg-opacity: 0.5;
  --color-border: #d1d1d1;
  --color-dark-gray: #414042;
}

/* *{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    -moz-appearance: none !important;
    appearance: none !important;
    font-family: 'Amiri', change;

}
*/

body:lang(ar) {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  -moz-appearance: none !important;
  appearance: none !important;
  font-family: change;
}
body:lang(en) {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  -moz-appearance: none !important;
  appearance: none !important;
  font-family: "Playfair Display", "Yanone Kaffeesatz";
}
.img-fill {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.img-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text-flag {
  font-family: "Twemoji Country Flags";
}

.text-flag select {
  font-family: "Twemoji Country Flags";
}

.pc {
  color: #1fb9b3;
}

select.text-flag > option,
.text-flag select > option {
  font-family: "Twemoji Country Flags";
}

.img-contain {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

input,
textarea {
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

:root {
  --m-color: #1fb9b3;
  --m-color-light: #1fb9b48e;
}

.mobile-layout {
  width: 100vw;
  overflow-x: hidden;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.show-profile-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px 14px;
}
@media screen and (max-width: 1024px) {
  .show-profile-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 670px) {
  .show-profile-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 376px) {
  .show-profile-grid-container {
    padding-inline: 10px;
    grid-template-columns: 1fr;
  }
}

.show-profile-3-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 14px;
}
@media screen and (max-width: 1020px) {
  .show-profile-3-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 376px) {
  .show-profile-3-grid-container {
    padding-inline: 10px;
    grid-template-columns: 1fr;
  }
}
.suggestions-tab-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px 14px;
}
@media screen and (max-width: 1024px) {
  .suggestions-tab-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 670px) {
  .suggestions-tab-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 376px) {
  .suggestions-tab-grid {
    padding-inline: 10px;
    grid-template-columns: 1fr;
  }
}

.m-c {
  color: var(--m-color) !important;
}

.s-c {
  color: #737373;
}

.t-c {
  color: #979797;
}

.p-c {
  color: #a6a6a6;
}

.y-c {
  color: #ffbc00;
}

.bg-grey {
  background-color: var(--bg-gray);
}

.bg-yal {
  background-color: #ffbc00;
}

.bg-main {
  background-color: #1fb9b3;
}

.bg-danger {
  background-color: #fe0d00;
}

.bg-sec {
  background-color: #414042;
}

.c-save {
  color: #2879f4;
}

.m-r {
  color: #fe0d00 !important;
}

.btn-main {
  background-color: #1fb9b3;
  border: 1px solid #1fb9b3;
  border-radius: 8px;
  width: 152px;
  height: 48px;
  color: white;
}

.btn-main-v {
  background-color: #1fb9b3;
  border: 1px solid #1fb9b3;
  border-radius: 8px;
  color: white;
}

.btn-custmer {
  cursor: pointer;
  background: #1fb9b3;
  border: 1px solid #1fb9b3;
  border-radius: 8px;
  padding: 10px 40px;
  color: white;
  font-size: 16px;
  line-height: 17px;
}

.btn-customer {
  cursor: pointer;
  background: #1fb9b3;
  border: 1px solid #1fb9b3;
  border-radius: 8px;
  padding: 10px 40px;
  color: white;
  font-size: 16px;
  line-height: 17px;
}

.btn-custmer-w {
  cursor: pointer;
  background: white !important;
  border: 1px solid #1fb9b3 !important;
  border-radius: 8px !important;
  padding: 10px 40px !important;
  color: #1fb9b3 !important;
  font-size: 16px;
  line-height: 17px;
}

.btn-customer-w {
  cursor: pointer;
  background: white !important;
  border: 1px solid #1fb9b3 !important;
  border-radius: 8px !important;
  padding: 10px 40px !important;
  color: #1fb9b3 !important;
  font-size: 16px;
  line-height: 17px;
}

.btn-default {
  background: white;
  border: 1px solid #979797;
  border-radius: 8px;
  padding: 10px 40px;
  font-size: 16px;
  line-height: 17px;
  color: #979797;
}

.sec-color {
  background-color: #f6f8f9;
}

.btn:hover {
  background-color: #ffbc00;
}

.btn-danger {
  background: white !important;
  border: 1px solid #f5390a !important;
  color: #f5390a !important;
}

.btn-small {
  padding: 5px 20px !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

.more {
  background: transparent;
  padding: 8px 10px;
  border: 1px solid #737373;
  border-radius: 8px;
  min-width: 115px;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #737373;
}

/* NavBar */
nav.navbar {
  position: fixed;
  top: 0;
  z-index: 50;
  background: white;
  width: 100%;
  border-bottom: 1px solid var(--bs-navbar-toggler-border-color);
}

nav .offcanvas-start .nav-item a.nav-link {
  font-size: 15px;
}

.navbar-nav {
  align-items: center;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: var(--m-color);
  font-weight: bolder;
}

nav .offcanvas-start .serach-navbar {
  background: #ffffff;
  border: 0.5px solid #dde5e6;
  border-radius: 8px;
  width: 200px;
  height: 56px;
  padding: 0 38px;
}

nav .offcanvas-start .icon-search {
  top: 25%;
}

nav .dropdown-menu {
  min-width: 6rem !important;
}

nav .dropdown-menu[data-bs-popper] {
  top: 114%;
  right: -50px;
  margin-top: var(--bs-dropdown-spacer);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--m-color);
}

nav .lang {
  line-height: 50px;
}

.offcanvas-header {
  justify-content: end;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0;
}

/* sec-1 */
.sec-one {
  position: relative;
}

.sec-one .img-sec-one {
  position: absolute;
}

.circle-img {
  width: 425px;
  height: 425px;
  background-color: #ffbc00;
  border-radius: 50%;
}

.circle-img img {
  width: 458.26px;
  height: 426px;
}

.sec-tow .text {
  text-align: center;
}

/* sec-2 */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--m-color) !important;
  color: white !important;
}

.nav-pills .nav-link.active svg {
  color: white;
  fill: white !important;
}

.nav-pills .nav-link svg {
  height: 20px;
}

.sec-tow .tab-content .text-network {
  background-color: #f6f8f9;
  box-shadow: 0px 4px 15px 1px #00000040;
  height: fit-content;
  width: 452px;
  margin: 0 -64px;
  z-index: 1;
}

/* sec-3 */
.carwsel-slider-item {
  background: linear-gradient(to left, #bbd2c5, #1fb9b3);
}

.owl-theme {
  position: relative;
}

.owl-theme .owl-nav {
  position: absolute;
  top: 46%;
  left: -29px;
  right: -29px;
}

.owl-theme .owl-nav .owl-prev,
.owl-theme .owl-nav .owl-next {
  border: 1px solid #1fb9b3 !important;
  color: #1fb9b3 !important;
  font-weight: bolder !important;
  line-height: 1.5 !important;
  width: 25px !important;
  border-radius: 5px !important;
  margin: 0 -10px;
}

.owl-theme .owl-nav .owl-prev {
  position: absolute;
  right: 0;
}

.owl-theme .owl-nav .owl-next {
  position: absolute;
  left: 0;
}

/* sec-five */
.sec-five {
  background-color: #f6f8f9;
}

.main-swiper,
.child-swiper {
  position: relative;
  height: 100%;
}

.child-swiper {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide {
  width: 100%;
}

.swiper-slide img {
  display: block;
  /* width: 100%;
    height: 100%; */
  object-fit: cover;
}

.swiper-container {
  width: 100%;
  /* height: 300px; */
  margin: 20px auto;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.sec-seven {
  background-color: #1fb9b3;
}

.sec-subscripe {
  background-color: #1fb9b3;
}

/* footer */

footer {
  background-color: #f6f8f9;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .social a {
  margin: 0 10px;
  width: 32px;
  height: 32px;
}

footer .social i {
  color: #fff;
  padding: 8px;
  border-radius: 50%;
  text-align: center;
  background-color: #1fb9b3;
}

footer .policy-links {
  margin-top: 18px;
  color: #cdd7d8;
  font-size: 12px;
}

footer .policy-links a {
  margin-left: 15px;
  color: #979797;
}

footer .policy-links a:first-of-type:before {
  content: none;
}

footer .policy-links a::before {
  content: "|";
  margin-left: 7px;
}

footer h6 {
  color: #414042;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 9px;
}

footer .nav a {
  color: #707070;
  font-size: 14px;
  margin-bottom: 7px;
}

footer .newsletter input {
  font-size: 14px;
  color: #667d80;
}

footer .newsletter .btn {
  padding: 8px 12px 0;
}

footer .newsletter picture:first-of-type {
  margin-left: 20px;
}

.newsletter-modal h3 {
  font-size: 18px;
  font-weight: bold;
}

.dote {
  top: 20px;
  left: 36%;
}

img.landing {
  transition: var(--main-transition);
  position: relative;
  animation: any 4s linear infinite;
}

@keyframes any {
  0%,
  100% {
    top: 0px;
  }

  50% {
    top: -50px;
  }
}

/* --------------------------------------------------------------------------------------------------------------------------------- */
/* who are we */
.main-top {
  background: linear-gradient(275.37deg, #1fb9b3 7.87%, #bbd2c5 101.4%);
}
.main-top2 {
  background: linear-gradient(275.37deg, #bbd2c5 7.87%, #1fb9b3 101.4%);
}

html[lang="en"] .main-top {
  background: linear-gradient(275.37deg, #bbd2c5 7.87%, #1fb9b3 101.4%);
}

.anim-hwo-ar-you {
  top: 0;
  left: 0;
}

.star {
  left: 27.29%;
  right: 69.44%;
  top: 44.59%;
  bottom: 37.92%;
}

.square {
  left: 41.18%;
  right: 55.37%;
  top: 89.17%;
  bottom: -7.5%;
}

.star-two {
  left: 55.02%;
  right: 43.99%;
  top: 60.16%;
  bottom: 33.31%;
}

.star-big {
  left: 94.72%;
  right: 0.9%;
  top: 23.75%;
  bottom: 52.81%;
}

.mian-img-how-are-you {
  width: 432px;
  height: 279px;
  border-radius: 95px 0px;
  position: relative;
  z-index: 1;
}

.mian-img-how-are-you::before {
  content: "";

  position: absolute;
  background-color: #ffbc00;
  width: 432px;
  height: 279px;
  border-radius: 95px 0px;
  z-index: -1;
  top: -7px;
  left: 0;
}

.mian-img-how-are-you.two::before {
  content: "";

  position: absolute;
  background-color: #ffbc00;
  width: 432px;
  height: 279px;
  border-radius: 95px 0px;
  z-index: -1;
  bottom: -6px;
  right: 21px;
}

.img-how-are-you {
  width: 432px;
  height: 279px;
  border-radius: 95px 0px;
}

.text-how-are {
  line-height: 40px;
  color: #979797;
  font-size: 18px;
  text-transform: capitalize;
}

.why-riadiat .box {
  background: #ffffff;
  padding: 20px;

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.riadiat-of-number .box {
  background: #ffffff;
  padding: 20px;

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.services-riadiat {
  background-color: #f6f8f9;
}

.services-riadiat .box {
  border-radius: 8px;
  align-items: center;
}

.services-riadiat .box svg {
  height: 30px;
}

.services-riadiat .box.one {
  background-color: #1fb9b3;
  border: 2px solid #1fb9b3;
}

.services-riadiat .box.two {
  background-color: #ffbc00;
  border: 2px solid #ffbc00;
}

.services-riadiat .box.three {
  background-color: #f2631c;
  border: 2px solid #f2631c;
}

.services-riadiat .box.four {
  background-color: #2c98b3;
  border: 2px solid #2c98b3;
}

.services-riadiat .box.five {
  background-color: #414042;
  border: 2px solid #414042;
}

.img-screen {
  width: 446px;
  height: 446px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
}

.img-screen img {
  position: absolute;
  left: 12%;
  top: 97px;
}

.contact-us input,
.contact-us textarea {
  background: #ffffff;
  border: 0.5px solid #97979759 !important;
  border-radius: 4px;
  padding: 10px;
}

.img-bg-contact {
  top: 27%;
  left: 89px;
}

.consulting {
  background-color: #1fb9b3;
  position: relative;
}

.star-cons {
  position: absolute;
  left: 7.15%;
  right: 87.19%;
  top: 9.72%;
  bottom: 71.67%;
}

.img-cons {
  background-color: white;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.img-cons img {
  object-fit: cover !important;
  width: 100% !important;
  height: 100% !important;
}

.mobile-layout .img-cons {
  width: 110px;
  height: 110px;
}

.consulting .btn-custmer-w {
  background-color: transparent !important;
  color: white !important;
  border: 1px solid #f6f8f9 !important;
  border-radius: 8px !important;
  margin: 0 5px;
}

.star-cons.stars {
  left: 30.56%;
  right: 60.06%;
  top: 14.17%;
  bottom: 80.28%;
}

.consult .cute {
  left: 60.14%;
  right: 28%;
  top: 9%;
  bottom: 84.35%;
}

.consult .text p {
  line-height: 40px;
}

.min-riadiat .box {
  height: 250px;
}

[type="email"],
[type="number"],
[type="tel"],
[type="url"] {
  direction: rtl;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: none;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
}

/* ------------ */
.btn-closes {
  font-weight: 400;
  line-height: 32px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid;
  color: #ff3a44;
  padding: 15px;
}

.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  font-size: 15px;
  content: "prev";
}

.swiper-button-next,
.swiper-button-prev {
  border: 1px solid #1fb9b3 !important;
  color: #1fb9b3 !important;
  font-weight: bolder !important;
  line-height: 1.5 !important;
  width: 30px !important;
  height: 30px;
  border-radius: 5px !important;
}

.min-riadiat.network .box {
  height: 111px;
  padding: 10px;
}

.img-person-network {
  line-height: 5.5;
  top: 74px;
  left: 89px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
}

.section-schedule {
  margin: 100px 0;
}

.section-schedule-content {
  min-height: 280px;
  background-color: #f6f8f9;
}

.network-subscribe button {
  border: 2px solid var(--color-primary) !important;
  border-radius: 8px;
  color: var(--color-primary) !important;
}

.network-subscribe .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--color-primary) !important;
  background: var(--color-primary);

  border: 2px solid var(--color-primary) !important;
  border-radius: 8px;
}

.pagination .page-item {
  border-radius: 50%;
}

.page-link {
  position: relative;
  display: block;
  padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
  font-size: var(--bs-pagination-font-size);
  color: var(--bs-pagination-color);
  text-decoration: none;
  /* background-color: var(--bs-pagination-bg); */
  border: var(--bs-pagination-border-width) solid
    var(--bs-pagination-border-color);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 50%;
}

.page-item:last-child .page-link,
.page-item:first-child .page-link {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.page-link {
  color: #1fb9b3;
  font-weight: 500;
  font-size: 32px;
  line-height: 0.8;
}

.box.even {
  border: 1px solid #eee;
  text-align: center;
  background: #f6f8f9;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 25px;
  transform: rotate(45deg);
  z-index: 9;
}

.sh {
  content: "";
  position: absolute;
  border: 1px solid #eee;
  text-align: center;
  background: rgb(74 69 69 / 51%);
  /* filter: blur(11.0307px); */
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  top: 6px;
  border-radius: 25px;
}

.box.even svg {
  position: absolute;
  top: 31%;
  right: 31%;
  transform: rotate(321deg);
}

.progress {
  transform: rotate(-45deg);
  width: 269px;
  margin: 0px -20px;
}

.odd {
  margin: 184px 0 0 0;
}

.odd .sh {
  margin: 184px 0;
}

.odd .progress {
  transform: rotate(45deg);
  margin: -153px 20px;
}

.odd .text {
  margin: 304px 0 0 0;
}

.order .box {
  border: 1px solid rgb(240, 238, 238);
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 0px 11px -6px transparent;
}

.order .box:hover {
  box-shadow: 0px 0px 11px -6px black;
}

.search-service .box {
  border: 1px solid rgb(240, 238, 238);
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.search-service .box-tow {
  position: absolute;
  top: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999;
  background-color: #1fb9b3;
  transition: 0.3s;
  border-radius: 5px;
  text-align: center;
}

.search-service {
  width: 100%;
}

/* .search-service .box-tow{
    background-color: #1FB9B3;
       width: 100%;
    top: 0;
    text-align: center;
    transform: rotateY(90deg);
    transition: 0.3s;
    border-radius: 5px;
    top: 0;

}
.search-service .box:hover .box-tow{
    transform: rotateY(45deg);

} */
.search-service .box:hover .box-tow {
  top: 0;
}

.accordion-button:not(.collapsed) {
  color: #1fb9b3;
  background-color: transparent;
  box-shadow: 0 0 0;
  padding: 10px 35px;
}

.accordion-button::after {
  position: absolute;
  left: 0;
}

.accordion-item {
  border: 0;
}

.accordion-item .accordion-button {
  padding: 10px;
}

.form-check-input:checked[type="radio"] {
  background-image: url(../img/Component\ 21.png);
}

.form-check-input:checked {
  background-color: #1fb9b3;
  border-color: #1fb9b3;
}

.traning .box {
  background-color: #2c98b3;
  padding: 40px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.traning .box.private {
  background-color: #f2631c;
}

.traning .box .text {
  position: absolute;
  top: -276px;
  left: 0;
  right: 0;
  font-size: 17px;
  background: #ffffff;
  box-shadow: 0px 0px 78.2699px rgb(187 188 189 / 30%);
  border-radius: 8px;
  padding: 13px 10px;
  transition: 0.3s;
}

.traning .box:hover .text {
  top: 0;
}

.incobter .box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #1fb9b3;
  text-align: center;
  line-height: 8;
}

.incobter .main {
  transition: 0.3s;
}

.incobter .main:hover {
  background-color: #1fb9b3 !important;
  color: white;
}

.incobter .main:hover h4 {
  color: white !important;
}

.fa-star {
  color: #c6cacc;
}

.fa-star.active {
  color: #ffbc00;
}

.consult-details li {
  list-style: auto;
}

span {
  color: #979797;
}

.box-subscribe {
  min-height: 627px;
  overflow: auto;
  overflow-x: hidden;
  transform: translateY(-60px);
  transition: 0.3s;
}

.box-subscribe::-webkit-scrollbar {
  width: 0.5px;
}

/*.box-subscribe::-webkit-scrollbar-track {*/
/* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
/* }*/
.box-subscribe::-webkit-scrollbar-thumb {
  background-color: rgb(138, 3, 3);
  outline: 1px solid slategrey;
}

.box-subscribe:hover {
  transform: translateY(-90px);
}

.box-subscribe:hover a {
  background-color: #ffbc00;
  border: #ffbc00;
  cursor: pointer;
}

.btn-custmer-subscribe {
  background-color: white !important;
  color: #979797 !important;
  border: 1px solid #979797 !important;
  border-radius: 5px !important;
}

.subscripe-finish .nav-pills .nav-link svg {
  height: 26px !important;
}

.over-lay {
  background-image: url(../img/over-lay-service-provider.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.workspaces-img {
  background-image: url(../img/workspace-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-header {
  background-image: url(../img/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#offcanvas-profile {
  z-index: 99999999;
}

.service-provider-navbar .box {
  border: 1px solid #cdd7d8;
  text-align: start;
  padding: 10px;
}

.rating {
  position: fixed;
  top: 50%;
  right: 0;
}

.redy-services {
  position: relative;
  height: 100%;
}

.redy-services .swiper {
  width: 100%;
  height: 100%;
}

.redy-services .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.redy-services .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.redy-services .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.redy-services .swiper-slide {
  background-size: cover;
  background-position: center;
}

.redy-services .mySwiper2 {
  width: 100%;
}

.redy-services .mySwiper {
  height: 15%;
  box-sizing: border-box;
  padding: 10px 0;
}

.redy-services .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.redy-services .mySwiper .swiper-slide.swiper-slide-active {
  opacity: 1;
}

.redy-services .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.redy-services .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.redy-services .swiper-wrapper {
  margin: 0 !important;
}

.message-service button {
  background: #414042;
  border-radius: 8px;
}

.img-service img {
  border: 4px solid #1fb9b3;
}

.word-intial p {
  background: #ffbc00;
  border-radius: 8px;
  padding: 10px;
}

#addModal {
  z-index: 999999999;
}

.file-label {
  border: 2px solid #1fb9b3;
  position: relative;
}

.add-img-selected {
  position: absolute;
  top: 0;
  left: 0;
  height: 232px;
  width: 329px;
}

.date-service-provider .calendar {
  position: relative;
  overflow: hidden;
  text-transform: capitalize;
  text-align: center;
  font: 15px/1em inherit;
  color: #545a5c;
  background-color: white;
  /* position: absolute; */
  box-shadow: 0;
  border-radius: 10px;
  padding: 0px;
  margin: 0;
  width: 100%;
}

.date-service-provider .calendar .day.today {
  background: #1fb9b3;
  color: white;
}

.date-service-provider .calendar .day {
  position: relative;
  display: inline-block;
  width: 7em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 5%;
  border: 2px solid transparent;
  cursor: pointer;
  color: #1fb9b3;
}

.date-service-provider .calendar td {
  padding: 0em 0;
}

.date-service-provider .calendar header .btn-prev {
  top: 20px;
  left: 50px;
  transform: rotate(-180deg);
}

.date-service-provider .calendar header .simple-calendar-btn {
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #cbd1d2;
  border-radius: 0%;
  border: 2px solid #cbd1d2;
}

.date-service-provider .calendar header .btn-next {
  top: 20px;
  right: 50px;
}

#in-number {
  width: 30px;
  height: 30px;
  border: 1px solid #1fb9b3;
  text-align: center;
  border-radius: 2px;
}

.service-stoped {
  position: relative;
}

.service-stoped .box-stoped {
  position: absolute;
  top: 15px;
  left: 31px;
  color: #f2631c;
  background: white;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

.service-stoped .box {
  background: rgba(242, 99, 28, 0.2);
}

#image_selected {
  opacity: 0;
}

.dashbord .box.one {
  background-color: #f6f8f9;
  border-radius: 5px;
}

.dashbord .box.tow {
  background-color: #fff3e5;
  border-radius: 5px;
}

.ldBar-label {
  position: absolute;
  top: -9px;
  left: 10px;
}

.dashbord .progress {
  transform: rotate(0deg);
  width: 100%;
  margin: 0px;
}

.dashbord .progress-bar,
.dashbord .progress {
  overflow: inherit;
}

.dashbord .progress .text {
  color: red;
  top: -36px;
  width: 100%;
}

.dashbord .progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: var(--bs-progress-bar-color);
  text-align: center;
  white-space: nowrap;
  background-color: #1fb9b3;
  height: 5px;
  border-radius: 10px;
  transition: var(--bs-progress-bar-transition);
}

.dashbord .progress {
  height: 5px;
  background-color: #bceae8;
}

.dashbord .progress-bar.tow {
  background-color: #2c98b3;
}

.dashbord .progress-bar.three {
  background-color: #ffbc00;
}

.dashbord .progress.three {
  background-color: #ffebb3;
}

.dashbord .progress-bar.four {
  background-color: #ff1616;
}

.dashbord .progress.four {
  background-color: #ffb9b9;
}

.profile-services .main-img {
  position: relative;
}

.profile-services .pen {
  position: absolute;
  top: 10px;
  right: 6px;
}

.profile-services .img-person {
  border: 5px solid #1fb9b3;
}

.profile-services .list-group-item.active {
  z-index: 2;
  color: #1fb9b3;
  background-color: transparent !important;
  border: 1px solid #cdd7d8;
  border-right: 2px solid #1fb9b3;
}

.my-profile .main-img .img-person {
  border: 4px solid #1fb9b3;
}

.my-profile {
  position: relative;
}

.my-profile .box.info {
  position: relative;
}

.my-profile .box.info .rating {
  position: absolute;
  left: 9px !important;
  top: 5px;
  right: inherit;
}

.my-profile .swiper {
  width: 100%;
  height: 100%;
}

.my-profile .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.my-profile .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.my-profile .swiper-slide {
  width: 193px !important;
  height: 171px;
}

.my-profile .swiper-button-next,
.my-profile .swiper-button-prev {
  border-radius: 50% !important;
  background: #ffffff;
  border: 1px solid #ffffff !important;
  color: rgb(182, 175, 175) !important;
}

.addService-modal {
  z-index: 99999999999;
}

.add-modal {
  z-index: 99999999;
}

.chat {
  width: fit-content;
}

.chat-req {
  background-color: #f6f8f9;
  width: fit-content;
}

.network-profile .nav.nav-pills button.nav-link {
  color: var(--m-color) !important;
  background-color: transparent;
  border: 1px solid #eee;
}

.network-profile .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #1fb9b326 !important;
  color: #1fb9b3 !important;
}

.blog .nav-pills {
  background-color: #1fb9b324;
  padding: 10px;
}

.blog .nav-pills .nav-link {
  color: #979797 !important;
}

.blog .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: transparent !important;
  color: black !important;
  font-weight: bolder;
}

.blog-page .data {
  background: #00000029;
  width: 100%;
  padding: 10px;
}

.blog-page .blogs-auhter {
  height: 700px;
  overflow: scroll;
  overflow-x: hidden;
}

.blog-page .blogs-auhter::-webkit-scrollbar {
  width: 0px;
}

.blog-page .pargrapg {
  line-height: 40px;
}

.blog-page .blogs-auhter::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.blog-page .blogs-auhter::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#exampleModalToggle3 {
  z-index: 999999999;
}

.alert {
  background-color: #ff16162e;
}

.courses ol li.active .btn-custmer-w {
  background-color: #1fb9b336;
}

.btn-custmer-w > svg {
  fill: var(--m-color) !important;
}

.btn-custmer-w.active > svg > path {
  fill: white !important;
  stroke: white !important;
}

.btn-custmer-w.active {
  background-color: var(--m-color) !important;
  color: white !important;
}

.network-subscribe .nav-pills .nav-link {
  width: 118px;
  height: 70px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-input-error {
  color: #ec7979;
  font-size: 12px;
  line-height: 17px;
}

.icon-input-end {
  left: 10px;
  right: auto;
  top: 12px;
}

.service-stopped.box {
  background: rgba(242, 99, 28, 0.2);
  position: relative;
}

.service-stopped .box-stoped {
  position: absolute;
  top: 8px;
  left: 10px;
  color: #f2631c;
  background: white;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

.image-selected-dialog {
  opacity: 0;
}

.router-link {
  color: black;
  width: 100%;
}

.offcanvas.offcanvas-start {
  top: 0;
  right: 0;
  left: auto;
  width: var(--bs-offcanvas-width) !important;
  border-right: var(--bs-offcanvas-border-width) solid
    var(--bs-offcanvas-border-color);
  transform: translateX(-100%);
}

.text-two-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-four-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.rotateY-180 {
  transform: rotateY(180deg);
}

.multiselect__tag > span {
  color: white;
}

.position-absolute {
  position: absolute !important;
}

.input-group .btn {
  padding: 0 5px;
}

.hidden-file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
}

.text-bold {
  font-weight: 900;
}

/** carousel navigators**/

.owl-theme .owl-nav .owl-next,
.owl-theme .owl-nav .owl-prev {
  font-size: 15px;
  border: 1px solid #1fb9b3 !important;
  color: #1fb9b3 !important;
  font-weight: bolder !important;
  line-height: 1.5 !important;
  width: 30px !important;
  height: 30px;
  border-radius: 5px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

.owl-theme .owl-nav .owl-next > span,
.owl-theme .owl-nav .owl-prev > span {
  font-size: 32px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  color: #1fb9b3 !important;
}

/** update css swiper */
.swiper-container {
  position: unset;
  margin: 0 auto;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: -35px;
  left: auto;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: -35px;
  right: auto;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

/** calend section schedule */

.calendar-schedule {
  margin: -30px 0;
  left: 0;
  position: absolute;
  width: 350px;
  height: 390px;
}

.calendar-schedule > .vc-container {
  width: 100% !important;
}

.calendar-schedule.mobile {
  left: auto;
  width: 100%;
  height: 390px;
  margin: 0 auto;
  position: relative;
}

/** filter list pagination **/
.disabled > .page-link,
.page-link.disabled {
  color: var(--m-color);
}

.page-link {
  color: #73737378;
}

/** shadow boxed */
.router-link > .box:hover {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.shadow-hover:hover {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

/** swiper mobile */
.swiper-mobile .swiper-slide img {
  -o-object-fit: unset;
  object-fit: unset;
  max-width: 100%;
}

.h-40px {
  height: 40px !important;
}

.blog-info-category,
.blog-info-date {
  padding: 1rem !important;
}

.multiselect__content > .multiselect__element span {
  color: black;
}

.m-b {
  color: var(--b-color) !important;
}

.text-secondary-color {
  color: var(--b-color) !important;
}

.btn-text {
  background: transparent;
  border: none;
  font-size: 13px;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

::-webkit-scrollbar {
  width: 10px;
}

* {
  /** firefox scrollbar **/
  scrollbar-color: var(--m-color) #f1f1f1;
  scrollbar-width: thin;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--m-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--m-color-light);
}

.semi-bold {
  font-weight: 600;
}

/** network home page */
.netwok-home-header {
  margin: 0 84px;
  background-image: url(../img/member/decorationIcons2.png),
    url(../img/member/decorationIcons3.png),
    url(../img/member/decorationIcons4.png);
  background-position: bottom right, right, left -50px;
  background-repeat: no-repeat;
}

.btn-custmer-danger {
  border: 1px solid #f70000 !important;

  color: #f70000 !important;
}

.no-border {
  border: none !important;
}

.btn-more-loading {
  border: 1px solid #c3c3c3;
  border-radius: 8px;
  padding: 10px 5px;
  width: 100%;
  color: #09763c;
}

.btn-more-loading-disabled {
  color: #979797;
}

.ccicon {
  height: 36px;
  position: absolute;
  left: -4px;
  border-radius: 8px;
  top: calc(50% - 19px);
  width: 60px;
  z-index: 6;
}

html[dir="ltr"] .ccicon {
  left: auto;
  right: -4px;
}

.ccicon-list {
  height: 22px;
  border-radius: 8px;
  width: 60px;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.swal2-container {
  z-index: 99999999999999 !important;
}

select.show-arrow {
  -webkit-appearance: auto !important;
  -moz-appearance: auto !important;
  appearance: auto !important;
}

.max-width-100-hidden {
  max-width: 100vw !important;
  overflow-x: hidden !important;
}

.modal {
  z-index: 1000;
}

@media screen and (max-width: 600px) {
  .netwok-home-header {
    margin: 0 5px;
  }

  .form-label {
    font-size: 0.8rem;
  }

  .form-control {
    font-size: 0.8rem;
  }

  .btn {
    font-size: 0.7rem;
    line-height: 0.75rem;
    /*height: 30px;*/
  }

  .btn-main {
    /* height: 36px; */
  }
}

@media screen and (max-width: 300px) {
  .modal {
    width: 100vw;
  }

  .modal-body {
    padding: 0 !important;
  }
}

.bg-body-page {
  background-color: #f6f8f9 !important;
  padding: 5px;
}

.filter-list {
  background-color: white;
  padding: 5px;
}

.clickable {
  cursor: pointer;
}

.z-index-0 {
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

.content-word-break > * {
  max-width: 100%;
  word-break: break-all;
}

.w-60 {
  width: 60%;
}

.filter-list__before-body .nav-pills .nav-link {
  border: 1px solid #979797 !important;
  border-radius: 4px !important;
  color: #979797 !important;
  height: 100%;
}

.filter-list__before-body .nav-pills .nav-link.active {
  background-color: var(--m-color) !important;
  border-color: var(--m-color) !important;
  color: white !important;
}

.menu-subscribe__title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  text-transform: capitalize;

  color: #414042;
}

.form-check > .form-check-input {
  outline-color: var(--m-color);
  border-color: var(--m-color);
}

.status-request-underway {
  background-color: #f2631c;
}

.status-request-waiting {
  background-color: #ffbc00;
}

.status-request-finished {
  background-color: #1fb9b3;
}

.status-request-cancel {
  background-color: red;
}

/*
.form-group {
    background: #FFFFFF;
    border: 0.5px solid #D1D1D1;
    border-radius: 4px;
    padding: 5px 5px;
    display: block;
}
.form-control{
    color: #667D80;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    border: none;
}
*/
.modal-fullscreen .modal-body {
  background: #fff;
}

.academy-player-box {
  height: 350px;
  border: 1px solid;
  border-radius: 10px;
  /*overflow: auto;*/
}

.btn-secondary {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
}

.btn-secondary:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.btn-secondary:focus {
  box-shadow: var(--bs-btn-focus-shadow-rgb);
}

.btn-secondary:active {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
  box-shadow: var(--bs-btn-active-shadow);
}

.btn-secondary[disabled] {
  color: var(--bs-btn-disabled-color);
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
}

.btn-action-page {
  height: 40px;
}

.btn-delete {
  background-color: #eb0000;
}

.btn-warning {
  background-color: #ebae05;
}

.btn-info {
  background-color: #2879f4;
}

.c-danger {
  color: var(--color-danger);
}

.c-warning {
  color: var(--color-warning);
}

.c-info {
  color: var(--color-info);
}

@media screen and (max-width: 362px) {
  .btn-action-page {
    font-size: 0.8rem;
    height: 30px;
  }

  .btn-action-page > svg {
    width: 16px;
    height: 16px;
  }
}

.header-title-page {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 1.3;
  color: #ffffff;
}

.mobile-layout .header-title-page {
  font-size: 40px;
}

.header-desc-page {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 1.3;
  /* or 133% */
  color: #ffffff;
}

.mobile-layout .header-desc-page {
  font-size: 20px;
}

.home-section-title {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.8;
  /* identical to box height, or 180% */
  text-transform: capitalize;
  /* 414042 */
  color: #414042;
  margin: 0;
}

.mobile-layout .home-section-title {
  font-size: 25px;
}

.home-section-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.6;
  /* or 167% */
  text-transform: capitalize;

  color: #979797;
}

.mobile-layout .home-section-text {
  font-size: 17px;
}

.bg-card {
  background-color: white;
}

@keyframes recording {
  from {
    color: red;
  }

  to {
    color: #979797;
  }
}

.remove-after::after {
  display: none !important;
}

.btn-shadow {
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.25);
}

.academy-departments .swiper-container-rtl .swiper-button-next {
  left: 0 !important;
}

.academy-departments .swiper-container-rtl .swiper-button-prev {
  right: 0 !important;
  left: auto;
}

.text-underline {
  text-decoration: underline;
}

.text-warning-message {
  color: var(--color-warning-message);
}

.text-secondary {
  color: var(--color-secondary);
}

.bgc-secondary {
  background-color: rgba(var(--color-secondary-rgb), 0.5);
}

.opacity-0 {
  opacity: 0 !important;
}

.opacity-25 {
  opacity: 25% !important;
}

.opacity-33 {
  opacity: 33% !important;
}

.opacity-50 {
  opacity: 50% !important;
}

.opacity-66 {
  opacity: 66% !important;
}

.opacity-75 {
  opacity: 75% !important;
}

.opacity-100 {
  opacity: 100% !important;
}

.avatar-user-card {
  border: 4px solid var(--color-primary);
  width: 100px;
  height: 100px;
  border-radius: 50%;

  /*background-repeat: no-repeat;
    background-position: center;
    background-size: 102px 102px;*/
  overflow: hidden;
}

.avatar-user-card > img {
  height: 100%;
  /*border-radius: 50%;*/

  width: 100%;
  object-fit: cover;
}

.filter-shadow-partner {
  filter: drop-shadow(0px 11.677px 17.0664px rgba(0, 0, 0, 0.07));
}

input[name="card.number"] {
  direction: ltr !important;
}

.height-body-page-without-nav {
  height: calc(100vh - 83px);
}

.d-alert {
  border-radius: 8px;
  padding: 10%;
}

.d-alert-success {
  border: 1px solid seagreen;
  background-color: rgba(46, 139, 87, 25%);
  color: seagreen;
}

.d-alert-danger {
  border: 1px solid salmon;
  background-color: rgba(250, 128, 114, 25%);
  color: salmon;
}

.btn-custmer:hover {
  color: var(--bs-btn-hover-color);
  background-color: #ffbc00;
  border-color: #ffbc00;
}

.btn-custmer-w:hover {
  color: #ffbc00 !important;
  border-color: #ffbc00 !important;
}

.mobile-layout .nav.nav-pills {
  overflow-x: auto;
}

.mobile-layout .nav.nav-pills::-webkit-scrollbar {
  width: 0.5px;
}

.mobile-layout .nav.nav-pills > li.nav-item {
  flex: 1 0 164px;
}

.btn-dash {
  all: unset;
  background: #cdd7d8;
  border-radius: 7.17722px;
  color: white;
  border-color: #cdd7d8;
}

.btn-dash:hover {
  background: rgba(var(--color-secondary-rgb), 0.2);

  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn-dash.active {
  background: #2cb7b3;
  border-color: #2cb7b3;
}

.accordion-button.before::after {
  all: unset;
}

.accordion-button.before::before {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-right: auto;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

html[lang="ar"] .accordion-button::after {
  margin-right: auto;
  left: 18px;
}

.word-break-all {
  word-break: break-all;
}

.o-c {
  color: var(--color-accent);
}

.bg-accent {
  background-color: var(--color-accent);
}
.border-custom {
  color: #979797;
  width: 100% !important;
  border: 1px solid #979797 !important;
  background: white !important;
  text-align: right !important;
  background: url(../img/copy1.png) no-repeat !important;
  background-size: 25px 20px !important;
  background-position: left !important;
  padding: 0px 15px !important;
}
.vc-arrow {
  background-color: #f6f8f9 !important;
  height: 45px;
  width: 45px;
}
.vc-arrow {
  transform: rotateY(180deg) !important;
}
.vc-header {
  margin-bottom: 80px;
}
button:focus {
  outline: none !important;
}
